:root {
    --color-white: #FFFFFE;
    --color-black: #0E172C;
    --color-primary: #FEC7D7;
    --color-secundary: #A786DF;
    --color-tertiary: #D9D4E7;
    --color-green: #85D1CE;
    --color-blue: #91C1D7;    
    --color-gray: #535353;    
    --font-family: "Nunito";
}

*{
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 14px;
    background: var(--color-primary);
    margin: 0;
};

header{    
    width: 100%;
    height: 144px;
    background: var(--color-white) !important;
    position: fixed;
    top: 0;
    left: 0;    
}

.destinatario{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: var(--color-white);
}

.contacto-img{
    margin-top: 24px;
    border-radius: 50%;
    border: 3px solid var(--color-green);
}

.nombre-usuario{
    font-weight: bold;
    margin: 8px 0;
    background: none;
}

.regresar img{
    position: relative;
    left: 24px;
    top: -90px;
    z-index: 1;
    background: none;
}

.cargar-mensaje{
    display:flex;
    flex-direction: column;
}

.hora{
    margin: 24px 24px 0;    
    text-align: center;
}

.mensaje-enviado, .mensaje-recibido{
    width: 255px;
    padding: 16px;
    margin: 16px;    
    background: var(--color-white);
    border-radius: 16px;
}

.m-envio{
    align-self: flex-end;
}

.mensaje-recibido{
    background: var(--color-gray);
    color: var(--color-white)
}

.m-recibo{
    align-self: flex-start;
}

.texto{
    width: 100%;
    max-width: 705px;
    margin: auto;
    padding: 12px 16px;
    background: var(--color-white);
    border-radius: 4px;
    border: 1px solid var(--color-gray);
    color: var(--color-gray);
    position: fixed;
    bottom: 24px;
}

@media (min-width: 768px) {

    body{
        max-width: 768px;
        margin: 0 auto;
        padding: 0 24px;
        border-style: none dotted;
        border-color: var(--color-green);
        border-width: 7px;
        }
    }
