:root {
    --color-white: #FFFFFE;
    --color-black: #0E172C;
    --color-primary: #FEC7D7;
    --color-secundary: #A786DF;
    --color-tertiary: #D9D4E7;
    --color-green: #85D1CE;
    --color-blue: #91C1D7;    
    --color-gray: #535353;    
    --font-family: "Nunito";
}

*{
    box-sizing: border-box;
    background: var(--color-primary);
    font-family: var(--font-family);
    text-decoration: none; 
};

main{
    width: 88%;
    display: flex;
    margin: auto;
            
}

h2{
    margin-top: 10%;
    line-height: 138%;
    font-weight: 800;
}

nav{    
    width: 100%;
    height: 80px;
    background: var(--color-white);
    position: fixed;
    bottom: 0;
    left: 0;    
}

nav ul{     
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
    padding: 0px 24px;
}

li{
    list-style: none;
    background:var(--color-white)
} 

li a, img{
    background: none;
}

.item{
    width: 155px;
    height: 250px;
    margin: 10px;   
    position: relative;
    display: inline-block;
}

.item img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}


.item h5{
    position: absolute;
    top: 190px;    
    transform: translate(16px);
    background: none;
    font-weight: bold;
    color:var(--color-white)
} 

.item p{
    position: absolute;
    top: 216px;    
    transform: translate(16px);
    background: none;
    font-size: 14px;
    color:var(--color-white)
}
