:root {
    --color-white: #FFFFFE;
    --color-black: #0E172C;
    --color-primary: #FEC7D7;
    --color-secundary: #A786DF;
    --color-tertiary: #D9D4E7;
    --color-green: #85D1CE;
    --color-blue: #91C1D7;    
    --color-gray: #535353;    
    --font-family: "Nunito";
}

*{
    box-sizing: border-box;
    background: var(--color-primary);
    font-family: var(--font-family);
    text-decoration: none; 
};

main{
    width: 88%;
    display: flex;
    margin: auto;           
}

h2{
    margin-top: 10%;
    line-height: 138%;
    font-weight: 800;
}


nav{    
    width: 100%;
    max-width: 705px;
    margin: 0 auto;
    padding: 0 24px;
    height: 80px;
    background: var(--color-white);
    position: fixed;
    bottom: 0;        
}

nav ul{     
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
    padding: 0px 24px;
}

li{
    list-style: none;
    background: none;
} 

li a, img{
    background: none;
}

.contacto{
    display: flex;
    align-items: center;
    background: var(--color-white);
    border-radius: 8px;
}

.contacto-img{
    border-radius: 50%;
    border: 3px solid var(--color-green);
    
}

.contacto, .usuario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;         
    padding: 2%;
}

.contacto div, .contacto a, .mensaje div, .mensaje p {
    margin: 0 !important;
    background: none;
}

.contacto img{
    margin: 2%;
}

.nombre-usuario{
    font-weight: bold !important;  
}

hr{
   border: none;
}

a:link, a:visited, a:hover, a:active {
    color: var(--color-black)
}

@media (min-width: 768px) {

    body{
        max-width: 768px;
        margin: 0 auto;
        padding: 0 24px;
        border-style: none dotted;
        border-color: var(--color-green);
        border-width: 7px;
        }
    }
    